.image-section {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  p {
    color: #75D9EA;  /* Adjust text color to match the one in your image */
    font-size: 1.2rem;
  }